.content {
	padding: 30px;
}

.iq-card-header{
    background-color:white;
    background-position: 10px;
}
.card-title{
    text-transform: uppercase;
    margin-left: 10px;
}
.iq-card-header-toolbar{
    margin-right: 10px;
}
.monitor-form{
    margin: 10px;
}
mat-form-field{
    margin: 10px;
    background-color: rgba(0, 0, 255, 0.123);
    width: 320px;
    text-align: center;
}
.type{
    margin: 18px;
    font-size: 18px;
}
.modal-body{
    text-align: center;
    background-color: rgba(245, 222, 179, 0.397);
}
.modal-footer {
    padding-right: 40%;
}
/*
* checkbox
*/

.example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }
  mat-checkbox{
      margin: 5px;
  }
button:hover {
    transform: scale(1.1);
}
  .bg-btn{
      background-color: #4e37b2;
      color: white;
      position: none;
  }
  .action {
text-align: center;
  }
  .action:hover {
background-color: white;
color: black;
  }

  .table-responsive{
      max-height: 720px;
      overflow: auto;
  }

  .monitor-full-width {
    border-left: 10px solid #4e37b2;
}
.monitor-full-width:hover {
    transform: scale(1.1);
}

.modal-header {
    background-color: #4e37b2;
    height: 65px;
}
.modal-title {
    color: white;
}
