<!-- Page Content -->

<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Moniter</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Moniter</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a class="btn add-btn" data-toggle="modal" data-target="#add_client" (click)="resetForm()"><i
                        class="fa fa-plus"></i>
                    Add Moniter</a>
                <!-- optional link -->
                <div class="view-icons">
                    <a routerLink="/clients/clientspage" class="grid-view btn btn-link active"><i
                            class="fa fa-desktop"></i></a>
                    <a routerLink="/clients/clientslist" class="list-view btn btn-link"><i class="fa fa-bars"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- ----------------Start: moniter-----------------  -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="vertical-tab row" role="tabpanel">
                    <!-- Nav tabs -->

                    <ul class="nav nav-tabs" role="tablist">

                        <li role="presentation">
                            <a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">google</a>
                            <div class="floatright">
                                <a><span class="fa fa-edit"></span></a>
                                <a><span class="fa fa-trash"></span></a>
                            </div>
                        </li>


                        <li role="presentation">

                            <a href="#Section2" aria-controls="profile" role="tab"
                                data-toggle="tab">Port</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="floatright">
                                <a><span class="fa fa-edit"></span></a>
                                <a><span class="fa fa-trash"></span></a>
                            </div>

                        </li>


                        <li role="presentation">

                            <a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">Section</a>
                            <div class="floatright">
                                <a><span class="fa fa-edit"></span></a>
                                <a><span class="fa fa-trash"></span></a>
                            </div>

                        </li>

                       
                    </ul>
                    <!-- end: New tab -->


                    <!-- Tab panes  -->
                    <div class="tab-content tabs">
                        <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                            <!-- <h4>google</h4> -->
                            <div class="table-responsive">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                    class="table table-striped custom-table datatable table-hover">
                                    <thead>
                                        <tr>
                                            <th>Event</th>
                                            <th>Date-Time</th>
                                            <th>Reason</th>
                                            <th>Duration</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Up</th>
                                            <td>2021-05-31 16:50</td>
                                            <td>Push</td>
                                            <td>@w3sc</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Down</th>
                                            <td>2021-08-21 16:50</td>
                                            <td>Sucess full</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Up</th>
                                            <td>2021-04-41 16:50</td>
                                            <td>Start</td>
                                            <td>@twitter</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Down</th>
                                            <td>2021-08-21 16:50</td>
                                            <td>Sucess full</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Up</th>
                                            <td>2021-04-41 16:50</td>
                                            <td>Start</td>
                                            <td>@twitter</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Down</th>
                                            <td>2021-08-21 16:50</td>
                                            <td>Sucess full</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Up</th>
                                            <td>2021-04-41 16:50</td>
                                            <td>Start</td>
                                            <td>@twitter</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="Section2">
                            <!-- <h4>Port</h4> -->
                            <div class="table-responsive">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                    class="table table-striped custom-table datatable table-hover">
                                    <thead>
                                        <tr>
                                            <th>Event</th>
                                            <th>Date-Time</th>
                                            <th>Reason</th>
                                            <th>Duration</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Up</th>
                                            <td>2021-05-31 16:50</td>
                                            <td>Push</td>
                                            <td>@w3sc</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Down</th>
                                            <td>2021-08-21 16:50</td>
                                            <td>Sucess full</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Up</th>
                                            <td>2021-04-41 16:50</td>
                                            <td>Start</td>
                                            <td>@twitter</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Down</th>
                                            <td>2021-08-21 16:50</td>
                                            <td>Sucess full</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Up</th>
                                            <td>2021-04-41 16:50</td>
                                            <td>Start</td>
                                            <td>@twitter</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Down</th>
                                            <td>2021-08-21 16:50</td>
                                            <td>Sucess full</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Up</th>
                                            <td>2021-04-41 16:50</td>
                                            <td>Start</td>
                                            <td>@twitter</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Section3">

                            <div class="table-responsive">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                    class="table table-striped custom-table datatable table-hover">
                                    <thead>
                                        <tr>
                                            <th>Event</th>
                                            <th>Date-Time</th>
                                            <th>Reason</th>
                                            <th>Duration</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Up</th>
                                            <td>2021-05-31 16:50</td>
                                            <td>Push</td>
                                            <td>@w3sc</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Down</th>
                                            <td>2021-08-21 16:50</td>
                                            <td>Sucess full</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Up</th>
                                            <td>2021-04-41 16:50</td>
                                            <td>Start</td>
                                            <td>@twitter</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Down</th>
                                            <td>2021-08-21 16:50</td>
                                            <td>Sucess full</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Up</th>
                                            <td>2021-04-41 16:50</td>
                                            <td>Start</td>
                                            <td>@twitter</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Down</th>
                                            <td>2021-08-21 16:50</td>
                                            <td>Sucess full</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Up</th>
                                            <td>2021-04-41 16:50</td>
                                            <td>Start</td>
                                            <td>@twitter</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ----------------End: moniter-----------------  -->



            <!-- Add moniter Modal -->
            <div id="add_client" class="modal custom-modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Moniter</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="addClientForm">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form>

                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">Monitor Type*</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>Ping</option>
                                                    <option>Port</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Friendly Name*</label>
                                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                                    placeholder="Friendly Name">
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">IP Address</label>
                                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                                    placeholder="name@example.com">
                                            </div>

                                        </form>
                                    </div>

                                </div>
                                <!-- scroll -->
                                <label>Alerts Notify</label>
                                <div class="checklist p-2">
                                    <input type="checkbox"> Alert 1 <br>
                                    <input type="checkbox"> Alert 2 <br>
                                    <input type="checkbox"> Alert 3 <br>
                                    <input type="checkbox"> Alert 4 <br>
                                 </div>

                                <div class="submit-section">
                                    <button class="btn btn-primary submit-btn" (click)="onAddClient()">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Add Client Modal -->

            <!-- Edit Client Modal -->
            <div id="edit_client" class="modal custom-modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Client</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="editClientForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">First Name <span
                                                    class="text-danger">*</span></label>
                                            <input class="form-control" type="text"
                                                [class.invalid]="editClientForm.get('editClientName').invalid && editClientForm.get('editClientName').touched"
                                                formControlName="editClientName">
                                            <div
                                                *ngIf="editClientForm.get('editClientName').invalid && editClientForm.get('editClientName').touched">
                                                <small
                                                    *ngIf="editClientForm.get('editClientName').invalid && editClientForm.get('editClientName').touched"
                                                    class="text-danger"> *Name is required</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Last Name</label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Username <span
                                                    class="text-danger">*</span></label>
                                            <input class="form-control" value="barrycuda" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Email <span
                                                    class="text-danger">*</span></label>
                                            <input class="form-control" type="text"
                                                [class.invalid]="editClientForm.get('editClientEmail').invalid && editClientForm.get('editClientEmail').touched"
                                                formControlName="editClientEmail">
                                            <div
                                                *ngIf="editClientForm.get('editClientEmail').invalid && editClientForm.get('editClientEmail').touched">
                                                <small
                                                    *ngIf="editClientForm.get('editClientEmail').invalid && editClientForm.get('editClientEmail').touched"
                                                    class="text-danger"> *Email is required</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Password</label>
                                            <input class="form-control" value="barrycuda" type="password">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Confirm Password</label>
                                            <input class="form-control" value="barrycuda" type="password">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Client ID <span
                                                    class="text-danger">*</span></label>
                                            <input class="form-control" type="text"
                                                [class.invalid]="editClientForm.get('editClientId').invalid && editClientForm.get('editClientId').touched"
                                                formControlName="editClientId">
                                            <div
                                                *ngIf="editClientForm.get('editClientId').invalid && editClientForm.get('editClientId').touched">
                                                <small
                                                    *ngIf="editClientForm.get('editClientId').invalid && editClientForm.get('editClientId').touched"
                                                    class="text-danger"> *Id is required</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Phone <span class="text-danger">*</span>
                                            </label>
                                            <input class="form-control" type="text"
                                                [class.invalid]="editClientForm.get('editClientPhone').invalid && editClientForm.get('editClientPhone').touched"
                                                formControlName="editClientPhone">
                                            <div
                                                *ngIf="editClientForm.get('editClientPhone').invalid && editClientForm.get('editClientPhone').touched">
                                                <small
                                                    *ngIf="editClientForm.get('editClientPhone').invalid && editClientForm.get('editClientPhone').touched"
                                                    class="text-danger"> *Phone is required</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Company Name <span
                                                    class="text-danger">*</span></label>
                                            <input class="form-control" type="text"
                                                [class.invalid]="editClientForm.get('editClientCompany').invalid && editClientForm.get('editClientCompany').touched"
                                                formControlName="editClientCompany">
                                            <div
                                                *ngIf="editClientForm.get('editClientCompany').invalid && editClientForm.get('editClientCompany').touched">
                                                <small
                                                    *ngIf="editClientForm.get('editClientCompany').invalid && editClientForm.get('editClientCompany').touched"
                                                    class="text-danger"> *Company is required</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive m-t-15">
                                    <table class="table table-striped custom-table">
                                        <thead>
                                            <tr>
                                                <th>Module Permission</th>
                                                <th class="text-center">Read</th>
                                                <th class="text-center">Write</th>
                                                <th class="text-center">Create</th>
                                                <th class="text-center">Delete</th>
                                                <th class="text-center">Import</th>
                                                <th class="text-center">Export</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Projects</td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Tasks</td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Chat</td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Estimates</td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Invoices</td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Timing Sheets</td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                                <td class="text-center">
                                                    <input checked="" type="checkbox">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="submit-section">
                                    <button class="btn btn-primary submit-btn" (click)="onSave()">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Edit Client Modal -->

            <!-- Delete Client Modal -->
            <div class="modal custom-modal fade" id="delete_client" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-header">
                                <h3>Delete Client</h3>
                                <p>Are you sure want to delete?</p>
                            </div>
                            <div class="modal-btn delete-action">
                                <div class="row">
                                    <div class="col-6">
                                        <a class="btn btn-primary continue-btn" (click)="onDelete()">Delete</a>
                                    </div>
                                    <div class="col-6">
                                        <a data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Delete Client Modal -->