.content {
	padding: 30px;
}

/* ----------------Start: moniter----------------- */
/* .demo{ background: rgb(247, 246, 246); }
a:hover,a:focus{
    text-decoration: none;
    outline: none;
} */
.vertical-tab{
    font-family: 'CircularStd', sans-serif;
    display: table;
}

.vertical-tab .nav-tabs{
    display: table-cell;
    width: 28%;
    min-width: 28%;
    padding: 12px;
    border-radius: 6px;
    /* background-color: rgb(233, 233, 233); */
    background-color: #34444c;
    /* vertical-align: top; */
    position: relative;
    z-index: 1;
}

/* -------edit and deleted----- */
.vertical-tab .nav-tabs .floatright{
    float: right;
}

.vertical-tab .nav-tabs li{
   float: none;
   vertical-align: top;
   padding: 10px 5px;
}
.vertical-tab .nav-tabs li a{
    /* color: rgb(87, 82, 82); */
    color: #b2c0cd;
    /* background-color: transparent; */
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    padding: 10px 20px;
    margin: 0 0 10px 0;
    border-radius: 6px;
    border: none;
    position: relative;
    transition: all 0.20s ease 0s;
}
.vertical-tab .nav-tabs li:last-child a{ margin: 0; }
.vertical-tab .nav-tabs li a:hover,
.vertical-tab .nav-tabs li.active a,
.vertical-tab .nav-tabs li.active a:hover{
    color: #fff;
    background: #53b4ec;
    border: none;
}

/* -------------tab panal side bar-------------- */
.vertical-tab .tab-content{
    color: #555;
    background-color: transparent;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 23px;
    padding: 5px 15px;
    display: table-cell;
    position: relative;
}
.vertical-tab .tab-content h3{
    color: #16a085;
    font-weight: 600;
    /* text-transform: uppercase; */
    margin: 0 0 5px 0;
}
@media only screen and (max-width: 1115px){
    .vertical-tab .nav-tabs{
        display: block;
        width: 100%;
        border-right: none;
    }
    .vertical-tab .nav-tabs li a{ margin: 0 0 10px; }
    .vertical-tab .tab-content{
        display: block;
        padding: 20px 15px 5px;
    }
    .vertical-tab .tab-content h3{ font-size: 18px; }
}

/* ----------------End: moniter----------------- */

/* -------------cheack box scroll------ */
.checklist { border:1px solid #ccc; width:100%; height: 80px; overflow-y: scroll;}
